
/* styles/_variables.scss */


/* styles/_base.scss */
html, body {
  padding: 0;
  margin: 0;
  background: #eef0f4;
  color: #0e0e0e;
  width: 100%;
  height: 100%;
}
:root {
  --site-margin: 40px;
  --container-width: var(--grid-width);
  --container-height: 800px;
  --cover-width: 100vw;
  --cover-height: 100vh;
  --main-top: 0px;
  --browser-bar-height: 0px;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
ol, ul {
  padding: 0;
  margin: 0;
}
ul, li { list-style: none; }
img {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  vertical-align: top;
}
carbon-audio, carbon-container, carbon-embed, carbon-image, carbon-video, carbon-cover { display: block; }
carbon-embed {
  position: relative;
  width: 100%;
}
carbon-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.phone { --site-margin: 20px; }

/* styles/_typography.scss */
html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, blockquote, cite, p {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-size: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
}
strong { font-weight: 600; }
.fitty {
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  overflow-wrap: unset;
  word-break: unset;
}
.fitty h1 {
  overflow-wrap: unset;
  word-break: unset;
}

/* styles/_layouts.scss */
carbon-item.floating {
  width: 100%;
  height: 100%;
}
carbon-item p {
  line-height: 50px;
  font-size: 24px;
}
carbon-item .item {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* styles/blocks/private.scss */
.private-block {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding-top: calc(50vh - 200px);
}
.private-block h3 {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.private-block .message {
  width: 100%;
  display: none;
  margin-top: 20px;
  font-size: 14px;
  color: red;
}
.private-block .invalid .message { display: block; }
.private-block .formSent h3 { font-size: 1.2rem; }
.private-block .field input {
  width: 380px;
  background: #fff;
  padding: 10px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50px;
  border: 0;
}
.private-block .field input:focus { outline: none; }
.private-block .field { margin-bottom: 20px; }
.private-block .actions .button {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: var(--accent-color);
  border-radius: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  min-width: 120px;
  border: 0;
}

/* styles/site/navigation.scss */
header.fixed { padding: 5px 30px; }
header.standard {
  padding-left: var(--site-margin);
  padding-right: var(--site-margin);
  margin: auto;
}
.navigation.overlay header {
  padding-left: var(--site-margin);
  padding-right: var(--site-margin);
}
.phone header { padding: 20px 30px !important; }
.phone header h1 { font-size: 7vw !important; }
.navigation header h1 {
  display: inline-block;
  max-width: 100%;
}
.navigation header.stacked > a,
.navigation header.stacked > nav { width: 100%; }
.navigation header.stacked > a { margin-bottom: 20px; }
.navigation header {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.navigation.sticky {
  display: block;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
}
.navigation > .overlay.open {
  visibility: visible;
  opacity: 0.9;
}
.navigation > .overlay nav > a {
  width: 100%;
  margin: 10px 0;
  display: block;
}
.navigation > .overlay nav > a:after { display: none; }
.navigation > .overlay nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 3em;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding-top: var(--site-margin);
  padding-bottom: calc(var(--site-margin) + var(--browser-bar-height));
  pointer-events: unset;
}
.navigation > .overlay {
  background-color: var(--overlay-background-color, pink);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--cover-height, 100vh);
  width: 100vw;
  overflow-y: scroll;
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  box-sizing: border-box;
  transition: opacity 250ms ease-out, visibility 500ms ease-out;
}
.desktop nav a span:before {
  position: absolute;
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  left: 0;
  bottom: -3px;
  background: transparent;
  transition: width 0.5s ease 0.1s, background 0.5s ease 0.1s;
}
.desktop nav a span { position: relative; }
.desktop nav a:hover span:before {
  width: 100%;
  background: var(--hover-color);
}
.phone .sidenav footer { display: none; }
.phone .navigation.column { height: unset !important; }
.hamburger {
  display: inline-block;
  vertical-align: middle;
}
.hamburger .one { transform: rotate(0deg); }
.hamburger .two { transition: opacity 0.2s ease; }
.hamburger .three { transform: rotate(0deg); }
.navigation .overlay {
  width: 100%;
  display: block;
}
.phone .navigation.overlay nav a { font-size: 1em !important; }
.phone .navigation.overlay nav { font-size: 6vw !important; }
.navigation:not(.overlay) .navIcon { display: none; }
.navigation .column { height: var(--cover-height); }
.navIcon {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 20px;
  right: 0;
  top: 0;
  z-index: 5001;
  cursor: pointer;
  fill: var(--link-color);
  stroke: var(--link-color);
  color: var(--link-color);
}
.navIcon:hover .one { transform: translateY(2px); }
.navIcon:hover .three { transform: translateY(-2px); }
.navIcon svg line {
  transform: translateY(0px);
  transition: transform 0.5s ease;
}
.navIcon svg {
  height: 100%;
  width: 100%;
  z-index: 999;
}
.hamburgering { overflow: hidden; }
.hamburgering .hamburger .one { transform: translate(8.8px, 0.5px) rotate(45deg); }
.hamburgering .hamburger .two { opacity: 0; }
.hamburgering .hamburger .three { transform: translate(-11px, 9px) rotate(-45deg); }
.desktop nav a span:before {
  position: absolute;
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  left: 0;
  bottom: -3px;
  background: transparent;
  transition: width 0.5s ease 0.1s;
}
.desktop nav a span {
  position: relative;
  color: var(--link-color);
}
.desktop nav a:hover span:before {
  width: 100%;
  background: var(--link-color);
}
.desktop .navigation header h1:hover { opacity: 0.7; }
.desktop .navigation header h1 { transition: opacity 250ms ease-out, color 150ms ease-out; }

/* styles/site/thumbnail.scss */
.customizingThumb {
  --thumb-overlay-visibility: visible;
  --thumb-overlay-color: var(--thumb-hover-overlay-color, transparent);
  --thumb-overlay-opacity: var(--thumb-hover-overlay-opacity, 1);
  --thumb-content-transform: translate(0, 0);
  --thumb-content-visibility: hidden;
}
.block.thumbs.align-y-start .content { align-items: flex-start; }
.block.thumbs.align-y-end .content { align-items: flex-end; }
.thumb { position: relative; }
.thumb > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease, visibility 500ms ease;
  background: var(--thumb-hover-overlay-color, none);
  visibility: var(--thumb-overlay-visibility, hidden);
  opacity: var(--thumb-overlay-opacity, 0);
}
.thumb video { max-height: 100%; }
.thumb .ql-editor { width: 100%; }
.thumb[disabled] { cursor: default; }
.thumb svg.placeholder { width: 100%; }
.thumb img,
.thumb video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}
.thumb > .content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: var(--thumb-content-transform, translate(0, 0.5em));
  visibility: var(--thumb-overlay-visibility, hidden);
  opacity: 0;
  transition: transform 500ms ease, visibility 500ms ease, opacity 500ms ease;
  z-index: 2;
}
.thumb.hidden .detail { display: none; }
carbon-item .detail h3,
.thumb h3 {
  display: var(--thumb-title-display, block);
  font-size: var(--font-size, 2em);
  font-style: var(--font-style, none);
  font-weight: var(--font-weight, 400);
  color: var(--color);
  letter-spacing: var(--letter-spacing, 0);
  line-height: var(--line-height, 1.3);
  text-decoration: var(--text-decoration, none);
  width: 100%;
}
carbon-item .detail { padding-top: 1em; }
.text-below .detail h3 { text-align: center; }
.text-below .thumb a { position: absolute; }
.thumbs .ql-link,
.thumbs .ql-underline { display: none; }
.phone .block.portfolio carbon-item h3 { font-size: 5vw !important; }
.desktop .thumb:hover > .overlay {
  opacity: var(--thumb-hover-overlay-opacity, 1);
  visibility: visible;
}
.desktop .thumb:hover .content {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

/* styles/site/page.scss */
.site {
  margin: 0;
  padding: 0;
  display: block;
  color: var(--color, #000);
  min-height: 100%;
  background: #fff;
  font-family: var(--font-family);
}
.site a span {
  color: inherit;
  transition: color 250ms ease-out;
}
.site a {
  color: var(--link-color);
  -webkit-filter: brightness(1);
  filter: brightness(1);
  transition: filter 0.5 ease 0.1s;
}
.no-overscroll { overscroll-behavior: none; }
.site.loading a span { transition: none; }
div.page { min-height: 100%; }
div.page.loading .navigation {
  visibility: hidden;
  opacity: 0;
}
div.page.loading .guts {
  visibility: hidden;
  opacity: 0;
}
.blocks.animated {
  transform: translateY(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms ease-out;
}
.page.overlap .navigation.standard {
  height: var(--nav-height, unset);
  position: relative;
}
.page.overlap > .guts { margin-top: calc(var(--nav-height, unset) * -1); }
.desktop .site a:hover span {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  color: var(--link-color);
}

/* styles/site/footer.scss */
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 20px var(--site-margin);
  box-sizing: border-box;
}
footer .content > .copyright { grid-column: 1; }
footer .content > .branding {
  text-align: right;
  grid-column: 2;
}
footer .content > .links > .icon:hover { transform: scale(1.1); }
footer .content > .links > .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--color);
  margin-right: 12px;
  transform: scale(1);
  transition: transform 50ms ease-out;
}
footer .content > .links {
  display: flex;
  grid-column: 3;
  justify-content: flex-end;
  -webkit-user-select: none;
  user-select: none;
}
footer .content {
  display: grid;
  box-sizing: border-box;
  color: var(--color);
  max-width: var(--container-width);
  margin: auto;
  align-items: center;
}
footer.has-links .content { grid-template-columns: calc(50% - 25px) 50px calc(50% - 25px); }
footer.has-links .branding { text-align: center; }
footer.has-links { padding-bottom: 30px; }
.branding { cursor: pointer; }
.branding .icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../images/badge.svg');
}
.desktop .branding .icon:before {
  content: 'CARBONMADE';
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  font-size: 10px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  background: #9974BA;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, -95%);
  height: 20px;
  line-height: 20px;
  width: 100px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.desktop .branding .icon:after {
  position: absolute;
  content: '';
  top: -6px;
  left: 50%;
  transform: translate(-50%, -95%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 5px 0 5px;
  border-color: #9974BA transparent transparent transparent;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.desktop .branding .icon:hover:before,
.desktop .branding .icon:hover:after {
  opacity: 1;
  transform: translate(-50%, -100%);
}
@media (max-width: 640px) {
  footer.has-links .content > .copyright {
    text-align: left !important;
    margin-bottom: 20px;
    grid-row: 1;
    grid-column: 1 / 4;
  }
  footer.has-links .content > .branding { align-self: start; }
  footer.has-links .content > .links > a { margin-bottom: 20px; }
  footer.has-links .content > .links {
    grid-row: 2;
    grid-column: 1 / 3;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  footer.has-links .content > .branding {
    padding: 0 !important;
    grid-row: 2;
    grid-column: 3;
  }
  footer.has-links .content { grid-template-columns: calc(50% - 15px) calc(50% - 15px) 30px; }
}

/* styles/navs/sidenav.scss */
.desktop .sidenaved header { padding: 30px; }
.desktop .sidenaved > .guts {
  width: calc(100vw - 300px);
  flex-basis: calc(100vw - 300px);
}
.desktop .sidenaved .project_link { font-size: 0.83em; }
.desktop .sidenaved {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  --cover-width: calc(100vw - 300px);
}
.sidenav {
  width: 300px;
  flex-basis: 300px;
  position: sticky;
  top: 0;
  min-height: 100vh;
}
.sidenav nav a {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.sidenav nav {
  width: 100%;
  display: block;
  text-align: left;
}
.sidenav h1 {
  text-align: left;
  margin-bottom: 40px;
}
.sidenav a.active {
  color: var(--accent-color);
  font-weight: 500;
}
.sidenav a:not(.active):hover { opacity: 0.5; }
.sidenav hr {
  border: none;
  background: var(--link-color);
  width: 20px;
  height: 1px;
  left: 0;
  margin: 30px 0;
}
.sidenav > a { margin-bottom: 20px; }
.sidenav footer > .content > .branding {
  align-self: start;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 10px;
}
.sidenav footer > .content > .copyright {
  grid-row: 2;
  grid-column: 1 / 3;
}
.sidenav footer > .content > .links > a { margin: 2px 10px 8px 0; }
.sidenav footer > .content > .links {
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1;
}
.sidenav footer > .content {
  padding: 0 0 0 30px;
  grid-template-columns: 30px calc(100% - 30px);
}
.sidenav footer.has-branding .content > .links {
  padding-left: 10px;
  grid-column: 2 / 3;
}
.sidenav footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  color: var(--color);
}
.phone .sidenav { display: none; }

/* styles/components/lightbox.scss */
.lightbox { z-index: 1000 !important; }
.lightbox .background { transition: opacity 200ms linear; }
.lightbox.closing, .lightbox.closed { pointer-events: none; }
.lightbox.closing .background { opacity: 0 !important; }
.lightbox .background {
  background-color: var(--background-color, #fff);
  opacity: 0;
  transition: opacity 0.1s ease;
}
.lightbox.opening .background { opacity: 1; }
.lightbox.open .background {
  background: var(--background-color, #fff);
  opacity: var(--background-opacity, 1);
}
.zoomable {
  cursor: zoom-in;
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.custom-cursor .zoomable { cursor: none; }
.zoomable:hover { opacity: 0.8; }
.light .cursor {
  -webkit-filter: invert(0.9);
  filter: invert(0.9);
}

/* styles/components/player.scss */
@font-face {
  font-family: 'player';
  src: url('https://static.cmcdn.net/kits/106/fonts/player/player.woff');
  font-weight: normal;
  font-style: normal;
}
carbon-player {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'player';
}
carbon-player.video { background: #000; }
carbon-player.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
carbon-player > video,
carbon-player > audio {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}
carbon-player > video {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
video::-webkit-media-controls-panel { display: none; }
carbon-player > .fallback {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #000;
  color: #fff;
  text-align: center;
}
carbon-player.fallback > .fallback { display: block; }
carbon-player.fallback > .fallback > h2 { margin-top: 20%; }
carbon-player > .posterPlay {
  position: absolute;
  width: 136px;
  height: 136px;
  top: 50%;
  left: 50%;
  margin: -68px 0 0 -68px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
  z-index: 5;
  text-align: center;
  font-size: 136px;
  line-height: 136px;
  text-indent: 2px;
  color: #fff;
  transition: background-color 0.2s, opacity 0.2s;
}
carbon-player > .posterPlay:before { content: '\e600'; }
carbon-player > .posterPlay:hover { background: rgba(0, 0, 0, 0.15); }
carbon-player:hover > .posterPlay { background: rgba(0, 0, 0, 0.15); }
carbon-player.played > .posterPlay { display: none; }
carbon-player > .poster,
carbon-player > .artwork,
carbon-player > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
carbon-player > .poster,
carbon-player > .artwork {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
carbon-player > .poster {
  z-index: 1;
  cursor: pointer;
  background-color: #000;
}
carbon-player.played > .poster { display: none; }
carbon-player > .overlay { background: linear-gradient(to bottom, rgba(10, 10, 10, 0.05) 40%, rgba(10, 10, 10, 0.5) 100%); }
carbon-player .control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  background: rgba(26, 26, 26, 0.2);
  transition: background-color 0.2s;
}
carbon-player .control:hover { background: rgba(115, 207, 203, 0.8); }
carbon-player > carbon-controls {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.3s;
}
carbon-player.played.hovering > carbon-controls,
carbon-player.played.scrubbing > carbon-controls { opacity: 1; }
carbon-player.played.hoverIdle > carbon-controls { opacity: 0; }
carbon-player.audio > carbon-controls,
carbon-player.audio.played.hoverIdle > carbon-controls { opacity: 1; }
carbon-player > carbon-controls .box {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  transition: opacity 0.2s;
}
carbon-player.scrubbing > carbon-controls > .box,
carbon-player.scrubbing > carbon-controls > .playToggle { opacity: 0; }
carbon-player.fullscreen > carbon-controls > .box { bottom: 9%; }
carbon-player.hoveringTrack > carbon-controls > .box,
carbon-player.hoveringTrack > carbon-controls > .playToggle { opacity: 0; }
carbon-player .playToggle {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;
}
carbon-player .playToggle:before { content: '\e600'; }
carbon-player.hovering .playToggle { opacity: 1; }
carbon-player.playing .playToggle:before { content: '\e601'; }
carbon-player.audio .playToggle { opacity: 1 !important; }
carbon-player carbon-scrubber {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
  z-index: 5;
}
carbon-player carbon-scrubber > .track {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.15);
  left: 0;
  cursor: pointer;
  transition: height 0.2s;
}
carbon-player carbon-scrubber:hover > .track { height: 12px; }
carbon-player.waiting carbon-scrubber > .track { background: url('https://static.cmcdn.net/kits/124/player2/images/buffering.gif'); }
carbon-player.waiting.scrubbing carbon-scrubber > .track { background: none; }
@keyframes bufferAnimation {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}
carbon-player.audio.loading .playToggle {
  animation: bufferAnimation 2s infinite;
  animation-timing-function: ease-in-out;
}
carbon-player carbon-scrubber > .track > .bufferedBar,
carbon-player carbon-scrubber > .track > .playedBar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  bottom: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: border-radius 0.1s;
}
carbon-player carbon-scrubber > .track > .playedBar { background: #74CFCB; }
carbon-player carbon-scrubber > .track > .playedBar.end,
carbon-player carbon-scrubber > .track > .bufferedBar.end {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
carbon-player time {
  position: absolute;
  color: var(--color);
  text-rendering: optimizeLegibility;
  font-size: 12px;
  cursor: default;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  bottom: 14px;
  opacity: 0;
}
carbon-player time.total {
  right: 0;
  transition: color 0.2s;
}
carbon-player time.current {
  left: 0;
  transition: opacity 0.2s, color 10s;
}
carbon-player carbon-scrubber:hover > time.current,
carbon-player.scrubbing carbon-scrubber > time.total { opacity: 1; }
carbon-player.video time.total { display: none; }
carbon-player.audio time.current,
carbon-player.audio time.total {
  bottom: 0px;
  opacity: 1 !important;
}
carbon-player.audio time.current { left: 0 !important; }
carbon-player .muteToggle {
  display: inline-block;
  background: rgba(26, 26, 26, 0.2);
}
carbon-player .muteToggle:before { content: '\e604'; }
carbon-player.muted .muteToggle:before { content: '\e605'; }
carbon-player .fullscreenToggle {
  display: inline-block;
  display: none;
  margin-bottom: 10px;
}
carbon-player .fullscreenToggle:before { content: '\e602'; }
carbon-player.fullscreen .fullscreenToggle:before { content: '\e603'; }
carbon-player.supportsFullscreen .fullscreenToggle { display: block; }
carbon-player.hoverIdle * { cursor: none; }
carbon-waveform {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}
carbon-waveform > .bar {
  position: absolute;
  bottom: 0;
  background-color: var(--color);
  transition: opacity 2s linear;
  opacity: 0.8;
}
carbon-waveform > .bar.fill { opacity: 1; }
carbon-player.hoveringTrack carbon-waveform > .bar { transition: none !important; }
carbon-player.playing carbon-waveform,
carbon-player.hoveringTrack carbon-waveform { opacity: 1; }
carbon-controls, carbon-waveform { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
carbon-player.audio .playToggle {
  background: rgba(51, 51, 51, 0.2);
  left: 3.125%;
  bottom: 30px;
  transition: background-color 0.2s;
}
carbon-player.audio carbon-scrubber {
  position: absolute;
  width: calc(93.75% - 65px);
  height: 50px;
  left: calc(3.125% + 65px);
  bottom: 25px;
  transition: opacity 0.2s;
}
carbon-waveform { bottom: 20px; }
.collapsed {
  max-height: 90px;
  height: 90px;
  width: 100%;
}
.collapsed carbon-player {
  position: relative;
  height: 90px;
}
.collapsed carbon-player.audio .playToggle { bottom: 5px; }
.collapsed carbon-player.audio carbon-scrubber { bottom: 0px; }
.phone carbon-player.audio .playToggle { font-size: 50px !important; }
carbon-player.autoplay .poster { display: none; }
carbon-player.autoplay .posterPlay { display: none; }
carbon-player.autoplay carbon-controls { display: none; }

/* styles/blocks/base.scss */
.block {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 80px 0;
  color: var(--color);
  font-family: var(--font-family);
  background: var(--surface-color);
  word-break: break-word;
}
.block div { box-sizing: border-box; }
.block .container { z-index: 3; }
.block .item { position: relative; }
.block hr {
  border: none;
  height: 10px;
}
.block p { font-family: var(--secondary-font-family); }
.block > .content.empty { padding: 20px; }
.block > .content {
  margin: 0 auto;
  max-width: var(--container-width);
}
.block.fluid > .content {
  max-width: 100%;
  padding: 0;
}
.block.fluid carbon-grid {
  padding: 0 var(--gap-x, 0px);
  box-sizing: border-box;
}
.block > .background .clipper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.block > .background video,
.block > .background image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block > .background {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.block .innerBorder {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: box-shadow 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 3;
}
.block.active .innerBorder { box-shadow: inset 0px 0px 0px 5px #00cee3; }
.block.active { z-index: 2; }
.block .placeholderGuts .inner { opacity: 0; }
.block.fluid { --container-width: 100vw; }
.sidenaved .block.fluid { --container-width: calc(100vw - 300px); }
.block > .content { transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms ease-out; }
.block.animated > .content {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
}
@media (max-width: 1280px) {
  .block { font-size: 9px; }
}
@media (max-width: 960px) {
  .block { font-size: 8px; }
}
.block.align-x-start .content { text-align: left; }
.block.align-x-center .content { text-align: center; }
.block.align-x-end .content { text-align: right; }
.block.align-y-start .content { align-items: start; }
.block.align-y-center .content { align-items: center; }
.block.align-y-end .content { align-items: end; }
.block .label p { font-family: var(--font-family); }
.block ol,
.block ul { font-family: var(--secondary-font-family); }
.block .divider span {
  background-color: var(--color);
  display: inline-block;
  width: 140px;
  height: 1px;
  display: inline-block;
}
.block .divider {
  opacity: 0.8;
  display: block;
  margin-top: 20px;
}
.block .title h3 {
  line-height: var(--line-height, 1.1em);
  letter-spacing: var(--letter-spacing, 0.1em);
  font-size: var(--font-size, 2em);
  font-family: var(--font-family);
  font-weight: var(--font-weight, 400);
  color: var(--color);
}
.logoBlock { --color: var(--accent-color); }
.logoBlock .heading {
  text-align: center;
  margin-bottom: 20px;
}
.logoBlock carbon-grid carbon-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.logoBlock carbon-grid carbon-item { position: relative; }
.phone .block.logoBlock h3 { font-size: 6vw !important; }
.block.columns h3 { color: var(--accent-color); }
.block.columns img { width: 100%; }
.block.details h3 { font-size: var(--font-size, 2.5em); }
.phone .block { padding: unset !important; }
.phone .block:not(.fluid) {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.phone .block.header + .block.intro { padding-top: 0px !important; }
.phone .block.intro + .block:not(.framed) { padding-top: 0px !important; }
.phone .block.intro .content :nth-child(1) { margin: 0 !important; }
.phone .block + .block.text,
.phone .block + .block.details { padding-top: 0px !important; }
.phone .block.fluid + .block.details { padding-top: 40px !important; }
.phone .block.standard {
  padding-top: 0 !important;
  padding-bottom: 20px !important;
}
.phone .block.standard.framed { padding-top: 20px !important; }
.phone .block.framed + .block.text,
.phone .block.framed + .block.details { margin-top: 40px !important; }
.phone .block.fluid { padding: unset !important; }
.phone .block.fluid + .block.standard { padding-top: 20px !important; }
.phone .block h3,
.phone .block h4,
.phone .block p,
.phone .block strong,
.phone .block em,
.phone .block span,
.phone .block li { font-size: 1em !important; }
.phone .block.header h1,
.phone .block.header h2 { font-size: 1em !important; }
.desktop .block.flipped .col-2 { grid-area: 1 / 1 / 2 / 2 !important; }
.desktop .block.flipped .col-1 { grid-area: 1 / 2 / 2 / 3 !important; }
.desktop .block.about.flipped .circle { margin: 0 0 0 100px !important; }
.block .attribution:before {
  color: #626262;
  padding-right: 5px;
  content: '©';
}
.block .attribution a:link,
.block .attribution a:visited { color: #fff; }
.block .attribution {
  font-family: Helvetica;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 10px;
  margin: 20px;
  line-height: 20px;
  height: 20px;
  color: #626262;
  background: #000;
  letter-spacing: 0.2em;
  border-radius: 10px;
  font-size: 10px;
}
.block:not(.fluid) > .content {
  padding-left: var(--site-margin);
  padding-right: var(--site-margin);
}
.desktop img { transition: opacity 0.3s ease-in; }
.desktop img.lazy { opacity: 0; }
.desktop img.loaded { opacity: 1; }

/* styles/blocks/standard.scss */
.desktop .block.standard.align-x-start .caption {
  text-align: left;
  padding-left: 0 !important;
  padding-right: 50% !important;
}
.desktop .block.standard.align-x-center .caption {
  text-align: center;
  padding-left: 25% !important;
  padding-right: 25% !important;
}
.desktop .block.standard.align-x-end .caption {
  text-align: left;
  padding-left: 50% !important;
  padding-right: 0 !important;
}
.block .item carbon-image { margin: auto; }
.block.standard .captionWrapper {
  max-width: var(--grid-width);
  width: 100%;
  margin: auto;
}
.desktop .block .item.flow p,
.desktop .block .item.flow ol,
.desktop .block .item.flow ul {
  max-width: 680px;
  margin: auto;
}

/* styles/blocks/social.scss */
.social1 .container { text-align: right; }
.phone .block.contactInfo { text-align: center; }
.desktop .block.social.align-x-end.align-y-center > .content .headline { margin-right: 20px; }
.desktop .block.social.align-x-end.align-y-center > .content {
  display: flex;
  justify-content: flex-end;
}
.desktop .block.social.align-x-end .socialLinks li:last-child { padding-right: 0; }
.desktop .block.social.align-x-end .socialLinks { text-align: right; }
.desktop .block.social.align-x-center.align-y-center >.content .headline {
  margin-right: 0;
  width: 100%;
}
.desktop .block.social.align-x-center.align-y-center >.content .container {
  width: 100%;
  text-align: center;
}
.desktop .block.social.align-x-center.align-y-center >.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.socialLinks li > a { display: inline-block; }
.socialLinks li {
  display: inline-block;
  padding: 10px;
}
.socialLinks .icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--accent-color);
}
.desktop ul.socialLinks li > a .icon {
  transform-origin: 50% 50%;
  transition: transform 0.15s ease, background-color 0.15s ease;
}
.desktop ul.socialLinks li > a:hover .icon { transform: scale(1.1); }
.icon.outline.artStation {
  -webkit-mask-image: url('../icons/social/outline/artStation.svg');
  mask-image: url('../icons/social/outline/artStation.svg');
}
.icon.outline.behance {
  -webkit-mask-image: url('../icons/social/outline/behance.svg');
  mask-image: url('../icons/social/outline/behance.svg');
}
.icon.outline.bigCartel {
  -webkit-mask-image: url('../icons/social/outline/bigCartel.svg');
  mask-image: url('../icons/social/outline/bigCartel.svg');
}
.icon.outline.deviantArt {
  -webkit-mask-image: url('../icons/social/outline/deviantArt.svg');
  mask-image: url('../icons/social/outline/deviantArt.svg');
}
.icon.outline.dribbble {
  -webkit-mask-image: url('../icons/social/outline/dribbble.svg');
  mask-image: url('../icons/social/outline/dribbble.svg');
}
.icon.outline.etsy {
  -webkit-mask-image: url('../icons/social/outline/etsy.svg');
  mask-image: url('../icons/social/outline/etsy.svg');
}
.icon.outline.facebook {
  -webkit-mask-image: url('../icons/social/outline/facebook.svg');
  mask-image: url('../icons/social/outline/facebook.svg');
}
.icon.outline.flickr {
  -webkit-mask-image: url('../icons/social/outline/flickr.svg');
  mask-image: url('../icons/social/outline/flickr.svg');
}
.icon.outline.gitHub {
  -webkit-mask-image: url('../icons/social/outline/gitHub.svg');
  mask-image: url('../icons/social/outline/gitHub.svg');
}
.icon.outline.instagram {
  -webkit-mask-image: url('../icons/social/outline/instagram.svg');
  mask-image: url('../icons/social/outline/instagram.svg');
}
.icon.outline.linkedIn {
  -webkit-mask-image: url('../icons/social/outline/linkedIn.svg');
  mask-image: url('../icons/social/outline/linkedIn.svg');
}
.icon.outline.medium {
  -webkit-mask-image: url('../icons/social/outline/medium.svg');
  mask-image: url('../icons/social/outline/medium.svg');
}
.icon.outline.pinterest {
  -webkit-mask-image: url('../icons/social/outline/pinterest.svg');
  mask-image: url('../icons/social/outline/pinterest.svg');
}
.icon.outline.tumblr {
  -webkit-mask-image: url('../icons/social/outline/tumblr.svg');
  mask-image: url('../icons/social/outline/tumblr.svg');
}
.icon.outline.twitch {
  -webkit-mask-image: url('../icons/social/outline/twitch.svg');
  mask-image: url('../icons/social/outline/twitch.svg');
}
.icon.outline.twitter {
  -webkit-mask-image: url('../icons/social/outline/twitter.svg');
  mask-image: url('../icons/social/outline/twitter.svg');
}
.icon.outline.vimeo {
  -webkit-mask-image: url('../icons/social/outline/vimeo.svg');
  mask-image: url('../icons/social/outline/vimeo.svg');
}
.icon.outline.youTube {
  -webkit-mask-image: url('../icons/social/outline/youTube.svg');
  mask-image: url('../icons/social/outline/youTube.svg');
}
.icon.outline.soundCloud {
  -webkit-mask-image: url('../icons/social/outline/soundCloud.svg');
  mask-image: url('../icons/social/outline/soundCloud.svg');
}
.icon.solid.artStation {
  -webkit-mask-image: url('../icons/social/solid/artStation.svg');
  mask-image: url('../icons/social/solid/artStation.svg');
}
.icon.solid.behance {
  -webkit-mask-image: url('../icons/social/solid/behance.svg');
  mask-image: url('../icons/social/solid/behance.svg');
}
.icon.solid.bigCartel {
  -webkit-mask-image: url('../icons/social/solid/bigCartel.svg');
  mask-image: url('../icons/social/solid/bigCartel.svg');
}
.icon.solid.deviantArt {
  -webkit-mask-image: url('../icons/social/solid/deviantArt.svg');
  mask-image: url('../icons/social/solid/deviantArt.svg');
}
.icon.solid.dribbble {
  -webkit-mask-image: url('../icons/social/solid/dribbble.svg');
  mask-image: url('../icons/social/solid/dribbble.svg');
}
.icon.solid.etsy {
  -webkit-mask-image: url('../icons/social/solid/etsy.svg');
  mask-image: url('../icons/social/solid/etsy.svg');
}
.icon.solid.facebook {
  -webkit-mask-image: url('../icons/social/solid/facebook.svg');
  mask-image: url('../icons/social/solid/facebook.svg');
}
.icon.solid.flickr {
  -webkit-mask-image: url('../icons/social/solid/flickr.svg');
  mask-image: url('../icons/social/solid/flickr.svg');
}
.icon.solid.gitHub {
  -webkit-mask-image: url('../icons/social/solid/gitHub.svg');
  mask-image: url('../icons/social/solid/gitHub.svg');
}
.icon.solid.instagram {
  -webkit-mask-image: url('../icons/social/solid/instagram.svg');
  mask-image: url('../icons/social/solid/instagram.svg');
}
.icon.solid.linkedIn {
  -webkit-mask-image: url('../icons/social/solid/linkedIn.svg');
  mask-image: url('../icons/social/solid/linkedIn.svg');
}
.icon.solid.medium {
  -webkit-mask-image: url('../icons/social/solid/medium.svg');
  mask-image: url('../icons/social/solid/medium.svg');
}
.icon.solid.pinterest {
  -webkit-mask-image: url('../icons/social/solid/pinterest.svg');
  mask-image: url('../icons/social/solid/pinterest.svg');
}
.icon.solid.tumblr {
  -webkit-mask-image: url('../icons/social/solid/tumblr.svg');
  mask-image: url('../icons/social/solid/tumblr.svg');
}
.icon.solid.twitch {
  -webkit-mask-image: url('../icons/social/solid/twitch.svg');
  mask-image: url('../icons/social/solid/twitch.svg');
}
.icon.solid.twitter {
  -webkit-mask-image: url('../icons/social/solid/twitter.svg');
  mask-image: url('../icons/social/solid/twitter.svg');
}
.icon.solid.vimeo {
  -webkit-mask-image: url('../icons/social/solid/vimeo.svg');
  mask-image: url('../icons/social/solid/vimeo.svg');
}
.icon.solid.youTube {
  -webkit-mask-image: url('../icons/social/solid/youTube.svg');
  mask-image: url('../icons/social/solid/youTube.svg');
}
.icon.solid.soundCloud {
  -webkit-mask-image: url('../icons/social/solid/soundCloud.svg');
  mask-image: url('../icons/social/solid/soundCloud.svg');
}

/* styles/blocks/cover.scss */
.block.cover {
  --cover-block-padding: 120px;
  width: 100%;
  height: var(--cover-height, 100vh);
  padding: 0;
  overflow: hidden;
}
.block.cover .background {
  transform: translateY(0px);
  will-change: transform;
}
.block.cover .item.media carbon-image {
  pointer-events: none;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  position: absolute;
  top: 0;
}
.block.cover .item.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block.cover .item.media {
  width: 100%;
  height: 100%;
}
.block.cover .container.fadeIn { opacity: 1; }
.block.cover .container {
  opacity: 0;
  transition: opacity 200ms linear;
}
.block.cover.magazine .col-2 { height: 100%; }
.block.cover.magazine .container video,
.block.cover.magazine .container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.block.cover.magazine .container {
  width: unset;
  opacity: 1;
  z-index: 0;
}
.block.cover.magazine {
  padding: 0;
  max-height: 900px;
}
.block.cover > .content { height: 100%; }
.block.cover .padded-container {
  margin: var(--cover-block-padding);
  width: calc(var(--cover-width) - var(--cover-block-padding) * 2) !important;
  padding-bottom: var(--browser-bar-height);
}
.block.cover .container { width: var(--cover-width, 100vw); }
.phone .block.cover .padded-container { margin: var(--cover-block-padding); }
.phone .block.cover { --cover-block-padding: 20px; }
.phone .block.cover.magazine .content {
  display: flex;
  flex-flow: column-reverse;
}
.phone .block.cover.magazine .col-1 {
  width: 100%;
  padding: var(--site-margin) !important;
}
.phone .block.cover.magazine {
  padding: 20px;
  height: auto;
}

/* styles/blocks/editorial.scss */
.desktop .block.editorial.align-x-start .content .image { grid-area: 1 / 3 / 2 / 5 !important; }
.desktop .block.editorial.align-x-end .content .image { grid-area: 1 / 1 / 2 / 3 !important; }
.desktop .block.editorial.align-x-center .content .image { grid-area: 1 / 2 / 2 / 4 !important; }
.desktop .block.editorial.align-y-end .content .image { margin-bottom: 80px; }
.desktop .block.editorial.align-y-start .content .image { margin-top: 80px; }
.phone .block.editorial.align-x-start .content .image,
.phone .block.editorial.align-x-end .content .image,
.phone .block.editorial.align-x-center .content .image,
.phone .block.editorial.align-y-start .content .image,
.phone .block.editorial.align-y-end .content .image { grid-area: unset; }
.phone .block.editorial h1,
.phone .block.editorial h2 { font-size: 1em; }

/* styles/blocks/gallery.scss */
.block.fluid .gallery .flipper.left { left: 0 !important; }
.block.fluid .gallery .flipper.right { right: 0 !important; }
.gallery {
  position: relative;
  height: var(--container-height);
  padding: 0 !important;
}
.gallery .flipper:hover { opacity: 1; }
.gallery .flipper .icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: var(--color, #000);
  width: 20px;
  height: 42px;
}
.gallery .flipper.left .icon {
  -webkit-mask-image: url('../icons/gallery/flipper_left.svg');
  mask-image: url('../icons/gallery/flipper_left.svg');
}
.gallery .flipper.left { left: -150px; }
.gallery .flipper.right .icon {
  -webkit-mask-image: url('../icons/gallery/flipper_right.svg');
  mask-image: url('../icons/gallery/flipper_right.svg');
}
.gallery .flipper.right { right: -150px; }
.gallery .flipper {
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 10;
  height: 100%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.gallery.inset .flipper.left { left: 0; }
.gallery.inset .flipper.right { right: 0; }
.gallery .viewport .content {
  position: relative;
  height: 100%;
}
.gallery .viewport carbon-slide.wide svg.placeholder { width: 100%; }
.gallery .viewport carbon-slide.wide .wrapper { width: 100%; }
.gallery .viewport carbon-slide.tall svg.placeholder { height: 100%; }
.gallery .viewport carbon-slide .wrapper { position: relative; }
.gallery .viewport carbon-slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.gallery .viewport carbon-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.gallery .viewport {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.gallery .dots {
  margin-top: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.gallery .dot {
  margin: 5px;
  cursor: pointer;
}
.gallery .dot.selected {
  background-color: var(--accent-color);
  opacity: 1;
}
.gallery .dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color);
  opacity: 0.5;
}
.gallery .item img {
  max-height: 100%;
  max-width: 100%;
}
.gallery .items { transition: transform 300ms ease-out; }
.gallery .item {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.phone .gallery {
  padding: 20px;
  height: 400px;
}

/* styles/blocks/about.scss */
.block .circle > .item::before {
  display: block;
  padding-top: 50%;
  content: '';
}
.block .circle > .item::after {
  display: block;
  padding-bottom: 50%;
  content: '';
}
.block .circle > .item { position: relative; }
.block .circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block .circle {
  -webkit-clip-path: circle(50% at center);
  clip-path: circle(50% at center);
}

/* styles/blocks/grid.scss */
carbon-grid.smart carbon-item:not(:last-child) { padding-right: var(--gap-x); }
carbon-grid.smart carbon-row:not(:last-child) { padding-bottom: var(--gap-x); }
carbon-grid.smart carbon-row carbon-item { position: relative; }
.fluid carbon-grid.smart carbon-row {
  padding-left: var(--gap-x);
  padding-right: var(--gap-x);
}
.phone .portfolio.grid carbon-grid carbon-item { margin-bottom: 10px !important; }
.phone .portfolio.grid carbon-grid { grid-gap: 0 !important; }
.phone .block.about > .content { text-align: center; }